<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ label|upper }}</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
      html, body, .container {
        height: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 2.5em;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .container small {
        color: lightgrey;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p ondblclick="increment()">
        <small>#</small>{{ counter }}
      </p>
    </div>
  </body>
  <script>
  function increment() {
    var token = prompt("Password please");
    if (!token) return;

    fetch('{{ label }}', {
      method: 'PUT',
      headers: new Headers({
        'CAAS-Auth-Token': token
      })
    }).then(function(response) {
      if (response.ok) {
        location.reload();
      } else {
        var i = 0;
        var intervalId = window.setInterval(function() {
          document.body.style.background = i % 2 == 0 ? '#ef3d47' : 'white';
          if (++i === 6) {
            window.clearInterval(intervalId);
          }
        }, 150);
      }
    });
  }
  </script>
</html>
